# Laravel
/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
Homestead.json
Homestead.yaml

# Environment
.env
.env.backup
.env.production

# IDE
.phpactor.json
.phpunit.result.cache
/.phpunit.cache
/.fleet
/.idea
/.nova
/.vscode
/.zed
/auth.json

# OS
.DS_Store
Thumbs.db

# Database (SQLite local dev)
/database/*.sqlite
/database/*.sqlite-journal
/database/*.sqlite-wal

# Logs
*.log

# Vercel
.vercel
